@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,
body {
    @apply font-sans;
  font-family: 'Montserrat', sans-serif;
  background-color: #E9E9E9;
}

html,
body,
#root {
  overflow-y: auto;
  scrollbar-width: none;    
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;          
}